#banner {
	width: 960px;
	height: 320px;
	overflow: hidden;
	position: relative;
	border-bottom: 1px #929677 solid;
}
#banner img {
	position: absolute;
}
#banner3 {
	display: block;
}
#banner1 {
	display: none;
}
#banner2 {
	display: none;
}

#latest {
	margin: 10px 0 0 0;
	height: 350px;
	overflow: hidden;
	position:relative;
}

#latest h1 {
	font-size: 24px;
	margin: 10px 0 0 30px;
	float: left;
}

#latest h2 {
	margin: 30px 28px 0 0;
	float: right;
}

#latest div.splitter {
	clear: both;
	width: 904px;
	height: 1px;
	background-color: #8e5a4f;
	margin: 5px auto;
}

#latest_container {
	width: 19200px;
	height:260px;
	position: absolute;
	overflow: hidden;
}

#latest div.latest_product {
	width: 208px;
	height: 260px;
	margin: 10px 0 0 25px;
	float: left;
}
#latest div.latest_product a {
	display: table-cell;
	vertical-align: middle;
	text-align: center;
	width: 206px;
	height: 206px;
}

#latest div.latest_product:hover {
	color: #ce8373;
}

#latest div.latest_product a:hover {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}

#latest div.latest_product p {
	margin: 10px 2px;
	font-size: 12px;
	font-weight: bold;
	text-align: center;
}

	